<html>
    <body>
        <form method="POST" enctype="multipart/form-data" 
                            action="{{url_for('addCookBook')}}">
            <input name="title" type="text" placeholder="book title">
            <input name="authorFirstName" type="text" placeholder="Author First Name">
            <input name="authorLastName" type="text" placeholder="Author Last Name">
            <input name="book_category" type="text" placeholder="Category">
            <input name="image_url" type="text" placeholder="image url">
            <textarea name="description"></textarea>
            <input type="Submit" value="Create">
    </body>
</html>
