    {% include "header.html" %}
    <div style="height: 50%; width: 75%">
    <div class="card-columns">
        {% for book, author, category in books %}
        <div class="card" style="">
            <img class="card-img-top" src=".../100px600/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> {{book.title}} </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{author.first_name}} {{author.last_name}}</h6>
                <p class="card-text"> {{book.description}} </p>
                <a class="card-link" href={{url_for('editCookBook', book_id=book.id)}}>Edit</a>
                <a class="card-link" href={{url_for('deleteCookBook', book_id=book.id)}}>Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
        {% include "footer.html" %}
