    {% include "header.html" %}
        {% for book, author, category in books %}
        <div>
            <p><strong> {{book.title}} </strong></p>
            <p>{{book.description}}</p>
            <p>{{category.name}}</p>
            <p>{{author.first_name}}</p>
            <p>{{author.last_name}}</p>
            <p><a href={{url_for('editCookBook', book_id=book.id)}}>Edit</a></p>
            <p><a href={{url_for('deleteCookBook', book_id=book.id)}}>Delete</a></p>
        </div>
        {% endfor %}
        {% include "footer.html" %}
