{% include "header.html" %}
        <form method="POST" enctype="multipart/form-data" 
                            action="{{url_for('editCookBook', book_id=book.id)}}">
            <input name="title" type="text" placeholder="{{book.title}}">
            <input name="authorFirstName" type="text" placeholder="{{author.first_name}}">
            <input name="authorLastName" type="text" placeholder="{{author.last_name}}">
            <input name="book_category" type="text" placeholder="{{category.name}}">
            <input name="image_url" type="text" placeholder="{{book.image_url}}">
            <textarea name="description">{{book.description}}</textarea>
            <input type="Submit" value="Update">
{% include "footer.html" %}
